FORMAT: 1A
HOST: http://api.procur.com

# Procur

# Group Users
User related resources of the **Procur API**

##All Users [/users]

### Show [GET]
    
+ Request (application/json)
    
        {
            
        }
        

+ Response 201 (application/json)

        [
            {
                "firstName": "Doctor",
                "lastName": "Strangelove",
                "email": "dstrangelove@procur.com",
                "emailVerified": true,
                "profileComplete": false,
                "active": true,
                "createdAt": "2014-06-15T16:10:58.710Z",
                "updatedAt": "2014-06-15T16:10:58.710Z",
                "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
            },
            {
                "firstName": "Doctor",
                "lastName": "Strangelove",
                "email": "dstrangelove@procur.com",
                "emailVerified": true,
                "profileComplete": false,
                "active": true,
                "createdAt": "2014-06-15T16:10:58.710Z",
                "updatedAt": "2014-06-15T16:10:58.710Z",
                "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
            }
        ]
        
##Single User [/users/{id}]

###Show [GET]

+ Request (application/json)
    
        {

        }
        

+ Response 200 (application/json)

        {
            "firstName": "Doctor",
            "lastName": "Strangelove",
            "email": "dstrangelove@procur.com",
            "emailVerified": true,
            "profileComplete": false,
            "active": true,
            "createdAt": "2014-06-15T16:10:58.710Z",
            "updatedAt": "2014-06-15T16:10:58.710Z",
            "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
        }
      
###Update [PUT]

+ Request (application/json)

        {
            "firstName": "Jack",
            "lastName": "Ripper",
            "email": "jripper@procur.com",
        }
        
+ Response 200
        
        {
            "firstName": "Jack",
            "lastName": "Ripper",
            "email": "jripper@procur.com",
            "emailVerified": true,
            "profileComplete": false,
            "active": true,
            "createdAt": "2014-06-15T16:10:58.710Z",
            "updatedAt": "2014-06-15T16:10:58.710Z",
            "token": "$2a$50$lccTmLsCO/328vKdgSwHpu8vnTamdsox98I2hcwOVfMfiwhAg97kW"
        }

###Deactivate [DELETE]

+ Request (application/json)

        {
            
        }
        
+ Response 200

        {
            "firstName": "Doctor",
            "lastName": "Strangelove",
            "email": "dstrangelove@procur.com",
            "emailVerified": true,
            "profileComplete": false,
            "active": false,
            "createdAt": "2014-06-15T16:10:58.710Z",
            "updatedAt": "2014-06-15T16:10:58.710Z",
            "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
        }
        
# Group Companies
Company related resources of the **Procur API**

##All Companies [/companies]

### Show [GET]

+ Response 200

        {
            _id: ObjectId("53a1f4f65e974a08005ea206"),
            active: true,
            buyer: true,
            createdAt: ISODate("2014-06-18T20:22:14.937Z"),
            email: "will@willricketts.com",
            employeeCount: "",
            faxCountryCode: "1",
            faxExtension: "",
            faxNumber: "4048499521",
            handle: "ballast",
            industry: "technology",
            name: "Ballast.io",
            phoneExtension: "",
            phoneNumber: "4048499521",
            phoneNumberCountryCode: "1",
            supplier: false,
            updatedAt: ISODate("2014-06-18T20:24:18.155Z"),
            user: "53a1f4c85e974a08005ea204",
            website: "4048499521"
        }
        
### Create [POST]

+ Request (application/json)

        {
        
        }
        
+ Response 201

        {
        
        }
        
##Single Company [/companies/{id}]

### Show [GET]

+ Response 200

        {
        
        }

### Update [PUT]

+ Request (application/json)

        {
        
        }
        
+ Response 200

        {
        
        }
        
### Deactivate [DELETE]

+ Response 200

        {
        
        }
        
##Company Members [/companies/{id}/members]

### Show [GET]

+ Response 200

        {
        
        }
        
### Invite Member [POST]

+ Request (application/json)

        {
        
        }
        
+ Response 201

        {
        
        }
        
##Single Company Member [/companies/{id}/members/{memberId}]

### Show [GET]

+ Response 200

        {
        
        }
        
### Modify [PUT]

+ Request (application/json)
        
        {

        }
        
+ Response 200

        {
        
        }
        
        
### Kick Member [DELETE]

+ Response 200

        {
        
        }

##Member Invitations [/companies/{id}/invitations]

### Show all pending invitations [GET]

+ Response 200

        {
        
        }
        
### Invite user to company [POST]

+ Request (application/json)

        {
        
        }
        
+ Response 200

        {
        
        }
        
##Single Invitation [/companies/{id}/invitations/{userId}]

### Show [GET]

+ Response 200

        {
        
        }

### Revoke Pending Invitation [DELETE]

+ Request (application/json)

        {
        
        }
        
+ Response 200

        {
        
        }
        
##Accepted Invitations [/companies/{id}/invitations/accepted]

### Show all accepted invitations [GET]

+ Response 200

        {
        
        }
        
##Rejected Invitations [/companies/{id}/invitations/rejected]

### Show all rejected invitations [GET]

+ Response 200

        {
        
        }
        
# Group Buyers

# Group Suppliers

# Group Locations

# Group Assets

# Group Messages

# Group RFX