FORMAT: 1A
HOST: http://api.procur.com

# Procur

# Group Users
User related resources of the **Procur API**

##All Users [/users]

### User Registration [GET]
    
+ Request (application/json)
    
        {
            
        }
        

+ Response 201 (application/json)

        [
            {
                "firstName": "Doctor",
                "lastName": "Strangelove",
                "email": "dstrangelove@procur.com",
                "emailVerified": true,
                "profileComplete": false,
                "active": true,
                "createdAt": "2014-06-15T16:10:58.710Z",
                "updatedAt": "2014-06-15T16:10:58.710Z",
                "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
            },
            {
                "firstName": "Doctor",
                "lastName": "Strangelove",
                "email": "dstrangelove@procur.com",
                "emailVerified": true,
                "profileComplete": false,
                "active": true,
                "createdAt": "2014-06-15T16:10:58.710Z",
                "updatedAt": "2014-06-15T16:10:58.710Z",
                "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
            }
        ]
        
##Single User [/users/{id}]

###Show User [GET]

+ Request (application/json)
    
        {
            "email": "dstrangelove@procur.com
        }
        

+ Response 201 (application/json)

        {
            "firstName": "Doctor",
            "lastName": "Strangelove",
            "email": "dstrangelove@procur.com",
            "emailVerified": true,
            "profileComplete": false,
            "active": true,
            "createdAt": "2014-06-15T16:10:58.710Z",
            "updatedAt": "2014-06-15T16:10:58.710Z",
            "token": "$2a$50$lccTmLXCO/328vKdgSwHpu8vnTamdWox98I2hcwx3OVfMwhAg97kW"
        }
